# Binaries and build artifacts
elmirawm
dwl
*.o
*-protocol.c
*-protocol.h
config.h
*.tar.gz

# Cache and build systems
.cache/
.ccls-cache/
compile_commands.json
.vscode/
.idea/

# Temp and backup files
*~
*.swp
*.patch
*.orig
